<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "signup_form"}) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"> <strong>Personal Data</strong></div>
            <div class="panel-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="name" name="user[name]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Surname:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="surname" name="user[surname]">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>User Data</strong></div>
            <div class="panel-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id= "username" name="user[username]">
                        </div>
                    </div>
                    <div class="form-group row" id=userData>
                        <label class="col-sm-2 col-form-label" >Password:</label>
                        <div class="col-sm-3">
                            <input id= "pass1" type="password" class="form-control checkSeguridad" name="user[password]">
                        </div>

                        <label class="col-sm-2 col-form-label" >Repeat password:</label>
                        <div class="col-sm-3">
                            <input id= "pass2" type="password" class="form-control checkSeguridad">
                        </div>

                        <div id="passMatch">
                            <p id="match" class="invalid">Passwords don't match</p>
                        </div>

                        <div id="alertPass">
                            <h6><strong>Password must meet the following requirements:</strong></h6>
                            <ul>
                                <li id="long" class="invalid">At least <strong><%= @minimum_password_length %> characters</strong></li>
                                <li id="capital" class="invalid">At least <strong>one capital letter (A-Z)</strong></li>
                                <li id="letter" class="invalid">At least <strong>one lower case letter (a-z)</strong></li>
                                <li id="char" class="invalid">At least <strong>a special character ([%@*...)</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="mail1" required="true" name="user[email]">
                        </div>
                        
                        <label class="col-sm-2 col-form-label">Repeat email:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="mail2" required="true">
                        </div>

                        <div id="alertMail">
                                <p id="match" class="invalid">Emails don't match</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <p align="right">
        <%= form.submit "Sign Up", :class => "btn btn-success", :id => "signup" %>
    </p>
<% end %>

<%= javascript_pack_tag 'signUpCheckers' %>