<h1>Edit Task</h1>

<%= form_with(model: @task, local: true) do |form| %>
	<% if @task.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@task.errors.count, "error") %> prohibited
				this task from being saved:
			</h2>
			<ul>
				<% @task.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	</p>

	<p>
		<%= form.label :deadline %><br>
		<input type='datetime-local' name='task[deadline]' id='task_deadline'>
	</p>

	<p>
		<%= form.label :priority %><br>
		<%= form.select(:priority, options_for_select([['High', 1], ['Normal', 2], ['Low', 3]])) %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>
