<p>
	<strong>Name:</strong>
	<%= @task.name %>
</p>
 
<p>
	<strong>Description:</strong>
	<%= @task.description %>
</p>

<p>
	<strong>Deadline:</strong>
	<%= @task.deadline %>
</p>

<p>
	<strong>Priority:</strong>
	<%= priority_select(@task.priority) %>
</p>

<p>
	<strong>Done:</strong>
	<%= done_check(@task.done) %>
</p>

<td><%= link_to 'Edit', edit_task_path(@task) %></td>
<td><%= link_to 'Delete', task_path(@task),
	method: :delete,
	data: {confirm: 'Are you sure?'} %>
</td>
