<h1>Edit Project</h1>
<%= form_with(model: @project, local: true) do |form| %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<h2>
			<%= pluralize(@project.errors.count, "error") %> prohibited
			this project from being saved:
			</h2>
			<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	</p>

	<h2>Tasks</h2>
	<% @project.tasks.each do |task| %>
		<p>
			<strong>Name:</strong>
			<%= task.name %>
		</p>

		<p>
			<strong>Description:</strong>
			<%= task.description %>
		</p>

		<p>
			<strong>Priority:</strong>
			<%= task.priority %>
		</p>

		<p>
			<strong>Done:</strong>
			<%= task.done %>
		</p>

		<td><%= link_to 'Edit', edit_task_path(task) %></td>
		<td><%= link_to 'Delete', task_path(task),
			method: :delete,
			data: {confirm: 'Are you sure?'} %>
		</td>
	<% end %>

	<%= render 'addTask' %>

	<p>
		<%= form.submit %>
	</p>
<% end %>