<form>
    <div style="text-align: center;">
        <table class="table table-bordered table-striped grocery-crud-table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Tasks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <td><%= @project.name %></td>
                <td><%= @project.description %></td>
                <td>
                    <% @project.tasks.each do |task| %>
                        <%= content_tag(:div, (link_to task.name, task_path(task))) %>
                    <% end %>
                </td>
                <td>
                    <a href="<%= edit_project_path(@project) %>" class="btn btn-info">Edit</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%= @project.id %>">Delete</button>
                </td>

                <div class="modal fade" id="deleteModal<%= @project.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteCheckTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteCheckTitle">ATTENTION</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this project?
                            </div>
                            <div class="modal-footer">
                                <a rel="nofollow" data-method="delete" href="<%= project_path(@project) %>" class="btn btn-success">Yes</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</form>